<h1>Your houses</h1>

<a href="/">Home</a>

<% @houses.each do |house| %>
  <li>
    <%= house.name %> in <%= house.region.name %>
    <%= form_for(house, { :method => :delete }) do |f| %>
    <%= f.submit "Delete" %>
    <% end %>
  </li>
  <% end %>
