<h1>You've accomplished something tangible!</h1>

<% if logged_in? %>

Welcome, <%= current_user.name %>!

<a href="/characters/new">Create a character</a>
<a href="/houses/new">Create a house</a>

<br>

<a href="/logout">Logout</a>

<% else %>
<a href="/users/new">Sign up for CharMan</a>

<a href="/session/new">Login</a>

<% end %>
